html
{
	font-family: Arial;
	text-align: center;
}

body
{
	color:#6b788c;
	background-image: url("AboutMeBackgroundd.jpg");
	margin:0;
	padding-top:100px;
}

h1
{
	color: black;
	font-family:"Times New Roman";
}

h2
{
	color:black;
	font-family:"Times New Roman";
}

img
{
	float:left;
}

p
{
	font-family: Arial;
	font-size:1rem;
	padding-left: 500px;
}